@using Dfe.SchoolAccount.Web.Models.Partials;

@model CardsPartialViewModel

@foreach (var cardRow in Model.Cards.ArrangeIntoGroupsOf(Model.ColumnCount))
{
    <div class="app-card-grid govuk-grid-row govuk-!-margin-bottom-7">
        @foreach (var card in cardRow)
        {
            var cardSummaryId = ViewHelpers.GetUniqueIdentifier();

            <div class="app-card-grid__column govuk-grid-column-one-third card-container">
                <section class="app-card" aria-describedby="@cardSummaryId">
                    @Html.Raw($"<h{ Model.HeadingLevel } class=\"app-card__title govuk-heading-m\">")
                    @if (!string.IsNullOrEmpty(card.LinkUrl))
                    {
                        <a class="app-card__link govuk-link" href="@card.LinkUrl">@card.Heading</a>
                    }
                    else
                    {
                        @card.Heading
                    }
                    @Html.Raw($"</h{ Model.HeadingLevel }>")
                    <div class="app-card__summary" id="@cardSummaryId">
                        @{
                            var trimmedParagraphs = card.Summary.Split('\n', '\r')
                                .Select(para => para.Trim())
                                .Where(para => !string.IsNullOrEmpty(para));
                        }
                        @foreach (var summaryParagraph in trimmedParagraphs)
                        {
                            <p>@summaryParagraph</p>
                        }
                    </div>
                </section>
            </div>
        }
    </div>
}
