@using Dfe.SchoolAccount.Web.Models.Partials;

@model HomeViewModel

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["Title"];
}

@section BeforeContent {
    <govuk-phase-banner>
        <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
        This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
    </govuk-phase-banner>
}

<div>
    <h1>@ViewLocalizer["Welcome"]</h1>
</div>
=======
<span class="govuk-caption-xl">
    @Model.OrganisationName
</span>
<h1 class="govuk-heading-xl">
    @ViewData["Title"]
</h1>

<section>
    @{{
        var headingText = ViewLocalizer["UsefulServicesAndGuidanceHeading"].Value;
        var headingId = ViewHelpers.ConvertTitleToSlug(headingText);

        <h2 class="govuk-heading-l" id="@headingId">@headingText</h2>
    
        @await Html.PartialAsync("Partials/_Cards", new CardsPartialViewModel {
            ColumnCount = 3,
            HeadingLevel = 3,
            Cards = Model.UsefulServicesAndGuidanceCards,
        })
    }}
</section>

<section>
    @{{
        var headingText = ViewLocalizer["SupportHeading"].Value;
        var headingId = ViewHelpers.ConvertTitleToSlug(headingText);

        <h2 class="govuk-heading-l" id="@headingId">@headingText</h2>

        @await Html.PartialAsync("Partials/_Cards", new CardsPartialViewModel {
            ColumnCount = 3,
            HeadingLevel = 3,
            Cards = Model.SupportCards,
        })
    }}
</section>
